<div class="d-wrapper">
  <div class="d-profile">
    <div class="userimage"><img class="image" src="assets/images/default-image.png" alt="profile-image"></div>
    <div class="nameBox">
      <div><h1>{{profile.res.first_name }}</h1></div>
      <div class="verifiedImage"><img class="image" src="assets/images/verified.png" alt="verified-icon"></div>
    </div>
    <div><h1>{{profile.res.email }}</h1></div>
    <div><h1>{{profile.res.pincode  }}</h1></div>
    <div><h1>{{profile.res.address  }}</h1></div>
    <div class="bu">
      <button (click)="logout()">Sign Out</button>
    </div>
  </div>
  <div class="d-modal">
    <div class="d-info-wrapper">

<app-cows *ngIf="!isSubscribed" pincode="{{profile.res.pincode}}"></app-cows>
    </div>
  </div>
</div>
