.d-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;


  .d-profile {
    flex: 1;
    align-self: center;

  }

  .d-modal {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .d-profile {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    height: 90vh;
    margin-left: 10px;
    justify-content: space-evenly;
    text-align: left;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.userimage {

  height: 300px;
  width: 100%;

  .image {
    height: 100%;
    width: 100%;
  }
}
.bu{
  text-align: center;
}

.verifiedImage {

  height: 60px;
  width: 60px;

  .image {
    height: 100%;
    width: 100%;
  }
}

.nameBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calf-list{
  padding:12px;
  .list{
    cursor: grab;
    display: flex;
    background-color: white;
    margin: 10px;
    padding:18px;
    justify-content: space-around;
    height:10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);



    border-radius: 5px;
  }
}
h1{
  font-size: xx-large;
  margin-top:10px;
}
