.d-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex:1;
 .d-profile {
    flex: 1;
    align-self: center;

  }
  .d-modal {
    flex: 4
  }
  .d-profile {
    display: flex;
    flex-direction: column;
    padding: 0px 17px;
    height: 100vh;
    justify-content: space-around;
    text-align: left;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

  }
}

.userimage {

  height: 180px;
  width: 100%;

  .image {
    height: 100%;
    width: 100%;
  }
}
.bu{
  text-align: center;
}

.verifiedImage {

  height: 40px;
  width: 30px;

  .image {
    height: 100%;
    width: 100%;
  }
}

.nameBox {
  display: flex;
  flex-direction: row;
  width:50%
}
.alt {
  button {
    background-color: #ee2121;
    color:white;
  }
}
.navigation{
  height:40px;
  min-width:20%;
  align-self: start;
  align-items: center;
  cursor: pointer;
padding:0px 10px;
  text-align: left;
}
.closeNav{
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}
.openNav{
  text-align: center;
  cursor: pointer;
}
.mat-icon{
  margin-right:15px !important;
}
