<div class="message-wrapper cnt-shadow ">
<h1 class="heading">
  Recent Messages {{messeges.length}}
</h1>
    <div class="list color-lighter">
        <div>ID</div>
        <div>NAME</div>
        <div>RECENT MESSAGE</div>
        <div></div>
    </div>
<div class="scroller">
<div *ngFor="let item of messeges">
<div class = " messageWrapper color-dark ">

<div class="id"><h1>{{item.id}}</h1></div>
<div class="name"><h1>{{item.name}}</h1></div>
<div class="message"><h1 class="text">{{item.lastMessage}}</h1></div>
<div  class="close" (click)="remover(item.id)"><mat-icon>close</mat-icon></div>
</div>
</div>
</div>

</div>
