.message-wrapper{
  width:90%;
  margin: 0 auto;
}
.heading{
  text-align: center;
  font-size: xx-large;
}
.messageWrapper{
  cursor: pointer;
  display: flex;
  margin: 10px;
  padding:4px;
  align-items: center;
  justify-content: space-between;
  height:30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(10, 10, 10, 0.048),
  0 12.5px 10px rgba(10, 10, 10, 0.06),
  0 22.3px 17.9px rgba(10, 10, 10, 0.072),
  0 41.8px 33.4px rgba(10, 10, 10, 0.086),
  0 100px 80px rgba(10, 10, 10, 0.12);



  border-radius: 5px;
div{
  text-align: left;
  width:33%
}
  border-radius: 5px;
}

.scroller{
  height:200px;
overflow-y: scroll;
}
.list{
  cursor: grab;
  display: flex;
  background-color: white;
  margin: 10px;
  padding:18px;
  justify-content: space-between;
  height:10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

div {
  width:33%;
}

  border-radius: 5px;
}
.remove { text-align: right  !important;
padding-right : 10px;
}