.header {
  position: relative;
  background-image: url("src/assets/images/wallpaper.jpg");
  height: 90vh;
  background-position: center; /* Center the image */
  background-repeat: round; /* Do not repeat the image */
  background-size:cover ;
margin-bottom:90px;
  .nav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px;
    .navheading{
      flex:2;
    }
._navItems{
  flex:1;
}
    .item{
  padding:20px;
      margin-top:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

    .ite{
      a {
        font-size: x-large;
      }
    }
    }
    .title {
      font-size: xxx-large;
    }
  }
}

.container {
  position: absolute;
  bottom: 10;
  right: 0;
}

._imageContainer {
  height: 600px;
  width: 600px;

  ._image {
    height: 100%;
    width: 100%;
  }
}

.container2 {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;

  ._moto {
    font-size: 5rem;

    ._moto_icon {
      font-size: 6rem;
    }
  }

  ._para {
    font-size: 3rem;
  }
}

.stepsContainer {
  text-align: center;

  ._cntP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ._cntC{
      justify-content: center;
      align-items: center;
      height:100%;
      font-size: 2rem;
      padding:10px;
      vertical-align: middle;
    }
._arP {
 width:60px;
  margin: 180px auto;
  height:80px;
  ._ar {
    width: 100%;
    height: 100%;
  }
}
  }
}
.footer{
  display: flex;
flex-direction: column;
}
.contact{
  font-size: xxx-large;
  align-self: center;
  text-align: center;

}
.address{
  font-size: small;
  align-self: center;
  text-align: center;
color: grey;
}
.avail{
  align-self: center;
  text-align: center;
  margin-top: 20px;
}
.image{
  margin: 90px 80px;
}
.previewImage{
  margin: 10px 50px;
  h2{
    font-size: xx-large;
  }
  display: flex;
  .previewImg{
    width:60%;
    height:80%;
    img{
width:100%;
  }
}
  .intro{
    width:40%;
  }
}
.previewImage2{
  margin: 100px 50px;
  h2{
    font-size: xx-large;
  }
  display: flex;
  flex-direction: row-reverse;
  .previewImg{
    width:60%;
    height:80%;
    img{
width:100%;
  }
}
  .intro{
    margin : 10px 100px;
    width:40%;
  }
}
.previewImage3{
  margin: 100px 50px;
  h2{
    font-size: xx-large;
  }
  display: flex;

  .previewImg{
    width:60%;
    height:80%;
    img{
width:100%;
  }
}
  .intro{
    margin : 10px 100px;
    width:40%;
  }
}
