<div class="header">
    <div class="nav">
        <div class="navheading"><h1 class="title">dairyGo</h1></div>
        <div class="_navItems">
            <div class="item">
                <div class="ite"> Pricing</div>
                <div class="ite"> Login</div>
                <div class="ite"> Signup</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="_imageContainer">
            <img class="_image" src="./assets/images/cow-image.png" alt="cowimage">
        </div>
    </div>
    <div class="container2">
        <div class="_moto">Fresh <span class="_moto_icon">🥛</span></div>
        <div class="_para"><h2 class="_para">directly from your local seller</h2></div>
    </div>
</div>
<div class="stepsContainer">
    <div class="_cntP">
        <div class="_cntC cnt-shadow bg-yellow">Create your profile</div>
        <div class=" _cntC _arP"><img class="_ar" src="./assets/images/arrow-right.png" alt="arrow"></div>
        <div class="_cntC cnt-shadow">Select you local seller</div>
        <div class=" _cntC _arP"><img class="_ar" src="./assets/images/arrow-right.png" alt="arrow"></div>
        <div class="_cntC cnt-shadow bg-yellow">Subscribe to a plan</div>
        <div class=" _cntC _arP"><img class="_ar" src="./assets/images/arrow-right.png" alt="arrow"></div>
        <div class="_cntC cnt-shadow">Waite till next morning</div>
    </div>

</div>
