<div class="wallpaper lgWrapper">
  <div class="panelWrapper">


    <div class="cnt-shadow wrapper">
      <div class="di">
        <div class="tag">NAME</div>
        <div class="in"><input type="name"></div>
        <div class="tag">PHONE</div>
        <div class="in"><input type="tel"></div>

        <div class="tag">EMAIL</div>
        <div class="in"><input type="address"></div>

        <div class="tag">PASSWORD</div>
        <div class="in"><input type="password"></div>


        <div class="btn-wrapper">
          <div class="bu">
            <button type="submit"><sa-spinner-dotted color="black"></sa-spinner-dotted></button>
          </div>
          <div class="bu">
            <button type="submit"><a routerLink="/auth/login">Already Registerd ?</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="_imageContainer">
    <img class="_image" src="./assets/images/cow-eating.png" alt="cowimage">
  </div>

</div>
