<div class="wallpaper lgWrapper">
  <div class="panelWrapper">


    <div class="cnt-shadow wrapper">
      <div class="di">
          <div class="warning-box">{{this.error}}</div>
        <div class="tag">USERNAME</div>
        <div class="in"><input #Email type="username" name="email" (keyup)="onUpdate(Email)"></div>
        <div class="tag">PASSWORD</div>
        <div class="in"><input #Password  type="password" name="password" (keyup)="onUpdate(Password)"></div>
        <div class="btn-wrapper">
        <div class="bu">
          <button type="submit" *ngIf="!loading" (click)="login()">Login</button>
            <button type="submit" *ngIf="loading"></button>
        </div>
        <div class="bu">
          <button type="submit"><a routerLink="/auth/register">New User ?</a></button>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="_imageContainer">
    <img class="_image" src="./assets/images/cow-eating.png" alt="cowimage">
  </div>

</div>
