.card{
  background-color: #f3f3f3;
  background-image: linear-gradient(315deg, #ffffff 0%, #ffdd00 74%);
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
  min-height: 200px;
  border-radius: 5px;
  color:black;
  width:300px;
  margin:10px 30px;
  justify-self: center;
  text-align: center;
  margin:20px;
}
.cardWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
 flex-wrap: wrap;
}
.heading{
  h1{
    font-size: xx-large;
    text-align: center;
  }
}
